#map {
    height: 100%;
}

ion-content {
    // --background: var(--ion-color-dark);
    --heigh: 100%;
}

// ion-app._gmaps_cdv_ .ion-page:not(._gmaps_cdv_),
// ion-app._gmaps_cdv_ ion-modal:not(._gmaps_cdv_) {
//     display: none;
// }

ion-app._gmaps_cdv_ .nav-decor{ background-color: white !important; }


ion-router-outlet {
  box-shadow: black 0px 0px 0px 100vh;
}
